<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.carpediemsolution.fitdiary"
    android:versionCode="6"
    android:versionName="2.4">

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="25" />

    <uses-feature
        android:glEsVersion="0x00010001"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Fit Diary"
        android:supportsRtl="true"
        android:theme="@style/WeightStyle">

        <activity
            android:name=".activity.PagerMainActivity"
            android:label="Fit Diary"
            android:theme="@style/WeightStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <activity
            android:name="com.carpediemsolution.fitdiary.activity.FitPagerActivity"
            android:label=" "
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name="com.carpediemsolution.fitdiary.activity.ChartActivity"
            android:label="График изменения веса" />

        <activity
            android:name="com.carpediemsolution.fitdiary.activity.NewFitActivity"
            android:label=" "
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name="com.carpediemsolution.fitdiary.activity.PhotoViewActivity"
            android:label=" "
            android:theme="@android:style/Theme.Holo.DialogWhenLarge" />

        <activity
            android:name="com.carpediemsolution.fitdiary.activity.ReminderActivity"
            android:label=" " />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>